CLIENT_URL=http://localhost:3000
PORT=3001
MS_BATTLE_URL=http://localhost:3002
MS_EFFECT_URL=http://localhost:3003
MS_ENEMY_URL=http://localhost:3004
MS_GAME_URL=http://localhost:3005
MS_ITEM_URL=http://localhost:3006
MS_PLAYER_URL=http://localhost:3008
MS_USER_URL=http://localhost:3009

# SECURITY
JWT_SECRET=__GENERATE_JWT__
INTERNAL_SECRET=__GENERATE_INTERNAL__