CLIENT_URL=http://localhost:3000
PORT=3001
MS_BATTLE_URL=http://ram-ms-battle:3002
MS_EFFECT_URL=http://ram-ms-effect:3003
MS_ENEMY_URL=http://ram-ms-enemy:3004
MS_GAME_URL=http://ram-ms-game:3005
MS_ITEM_URL=http://ram-ms-item:3006
MS_PLAYER_URL=http://ram-ms-player:3008
MS_USER_URL= http://ram-ms-user:3009

# SECURITY
JWT_SECRET=__GENERATE_JWT__
INTERNAL_SECRET=__GENERATE_INTERNAL__